//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$purple: #1A4698 !default; //$primary
$green: #348855 !default; //$success
$blue: #6994B6 !default; //$info
$orange: #ff9f43 !default; //$warning
$red: #ea5455 !default; //$danger

$secondary: #82868b !default;
$dark: #4b4b4b !default;
